$first-color: #81868e;
$second-color: #19bd9a;
header {


  .navbar-default {
    position: absolute;
    background-color: rgba(1, 1, 1, 0);
    background-image: unset;
    border-width: 0;
    box-shadow: none;

    .container {
      .navbar-header {
        .navbar-brand{
          margin-top: 32px;
        }
      }
      .navbar-nav {
        li {
          a {
            padding: 5px 8px;
            margin-top: 40px;
            color: white;
            //border-radius: 15px;
            //border-width: 1px;
            &:hover {
              border-radius: 15px ;
              border: 1px solid white;
              margin-top: 38px;
            }
          }
        }
      }
    }
  }

}

.slider {
  background-image: url("../images/slider_bg.png");
  height: 737px;
  color: white;
  .container{
    h1 {
      margin-top: 290px;
    }
    P {
      margin-top: 40px;

      height: 265px;
    }
    .arrow {
      margin: auto;
      width: 36px;
      height: 36px;
      background-color: $first-color;
      border-radius: 50%;
      overflow: hidden;
      i {
        margin-top: 10px;
      }
      &:hover {
        background-color: $second-color;
      }

    }
  }
}