@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg"); }
header .navbar-default {
  position: absolute;
  background-color: rgba(1, 1, 1, 0);
  background-image: unset;
  border-width: 0;
  box-shadow: none; }
  header .navbar-default .container .navbar-header .navbar-brand {
    margin-top: 32px; }
  header .navbar-default .container .navbar-nav li a {
    font-family: OpenSansRegular;
    padding: 5px 20px;
    margin-top: 40px;
    color: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.1s; }
    header .navbar-default .container .navbar-nav li a:hover {
      border-radius: 15px;
      border: 1px solid white; }

.slider {
  background-image: url("../images/slider_bg.png");
  height: 737px;
  color: white; }
  .slider .container h1 {
    margin-top: 290px;
    font-family: SourceSansProLight; }
  .slider .container P {
    font-family: OpenSansRegular;
    margin-top: 40px;
    height: 265px; }
  .slider .container .arrow {
    margin: auto;
    width: 36px;
    height: 36px;
    background-color: #81868e;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.1s; }
    .slider .container .arrow i {
      margin-top: 10px; }
    .slider .container .arrow:hover {
      background-color: #19bd9a; }

.about-us {
  padding-top: 80px;
  padding-bottom: 55px; }
  .about-us .container .row .col-sm-6 {
    padding-left: 67px;
    padding-right: 35px; }
    .about-us .container .row .col-sm-6 h2 {
      font-family: SourceSansProLight;
      margin-bottom: 50px;
      color: #333b46; }
    .about-us .container .row .col-sm-6 p {
      font-family: OpenSansRegular;
      margin-bottom: 35px;
      color: #81868e;
      line-height: 25px; }
    .about-us .container .row .col-sm-6 a {
      text-decoration: none;
      font-family: OpenSansRegular;
      color: #333b46;
      padding: 5px 20px;
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0);
      transition: 0.1s; }
      .about-us .container .row .col-sm-6 a:hover {
        border-radius: 15px;
        border: 1px solid #333b46; }
  .about-us .container .row .col-sm-5 {
    padding-left: 100px; }

.about-us-details {
  background-color: #f3f3f3;
  padding-bottom: 80px; }
  .about-us-details .container h2:first-child {
    font-family: SourceSansProLight;
    color: #333b46;
    margin: 80px 0 40px; }
  .about-us-details .container .text {
    width: 480px;
    margin: auto;
    color: #81868e;
    font-family: OpenSansRegular; }
  .about-us-details .container .icons {
    margin: 60px auto; }
    .about-us-details .container .icons .icon {
      width: 53px;
      height: 53px;
      background-color: #81868e;
      border-radius: 26px;
      padding-top: 14px;
      color: white;
      font-size: 19px;
      transition: 0.1s; }
      .about-us-details .container .icons .icon:hover {
        background-color: #19bd9a; }
    .about-us-details .container .icons .icon:first-child {
      margin-right: 27px; }
    .about-us-details .container .icons .icon:last-child {
      margin-left: 27px; }
  .about-us-details .container .row .col-sm-5 {
    padding-left: 10%;
    padding-right: 5%; }
    .about-us-details .container .row .col-sm-5 h3 {
      font-family: SourceSansProLight; }
    .about-us-details .container .row .col-sm-5 p {
      font-family: OpenSansRegular;
      color: #81868e;
      font-size: 16px;
      margin-top: 40px; }
      .about-us-details .container .row .col-sm-5 p b:first-child {
        color: #19bd9a; }
      .about-us-details .container .row .col-sm-5 p b:last-child {
        color: #636971; }
  .about-us-details .container .row .col-sm-6 p {
    margin-top: 86px;
    color: #81868e;
    font-family: OpenSansRegular; }
    .about-us-details .container .row .col-sm-6 p b {
      color: #636971; }
    .about-us-details .container .row .col-sm-6 p b:nth-child(2) {
      color: #19bd9a; }

.featured-work {
  padding-top: 80px; }
  .featured-work .container-fluid h2 {
    font-family: SourceSansProLight;
    color: #333b46; }
  .featured-work .container-fluid p {
    font-family: OpenSansRegular;
    color: #81868e;
    max-width: 480px;
    margin: 40px auto 60px; }
  .featured-work .container-fluid .row .work {
    padding: 0;
    height: 319px;
    position: relative; }
    .featured-work .container-fluid .row .work:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: black;
      opacity: 0.8;
      left: 0;
      text-transform: uppercase;
      font-size: 20px;
      font-family: SourceSansProLight;
      padding-top: 150px;
      font-weight: lighter;
      color: white; }
    .featured-work .container-fluid .row .work:hover:after {
      display: none; }
  .featured-work .container-fluid .row .first {
    background-image: url("../images/Futured-work_+.png"); }
    .featured-work .container-fluid .row .first:after {
      content: "+"; }
  .featured-work .container-fluid .row .second {
    background-image: url("../images/Futured-work_vintage.png"); }
    .featured-work .container-fluid .row .second:after {
      content: "vintage"; }
  .featured-work .container-fluid .row .third {
    background-image: url("../images/Futured-work_branding.png"); }
    .featured-work .container-fluid .row .third:after {
      content: "branding"; }
  .featured-work .container-fluid .foot {
    background-image: url("../images/future-foot.png");
    background-repeat: no-repeat;
    margin: -15px; }
    .featured-work .container-fluid .foot .row p {
      font-family: OpenSansRegular;
      color: white; }
    .featured-work .container-fluid .foot .row .col-sm-3 {
      padding-top: 35px; }
      .featured-work .container-fluid .foot .row .col-sm-3 a {
        text-decoration: none;
        font-family: OpenSansRegular;
        color: white;
        padding: 5px 20px;
        transition: 0.1s;
        border-radius: 15px;
        border: 1px solid white; }

/*# sourceMappingURL=style.css.map */
